<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css" >
</head>
<body>
    <h1>Welcome to Home page</h1>
    <div class="container">       
        <div class="box-1">
            <p>Hey, The Tasks that you need to complete are shown below.</p>
        </div>        
    </div>
</body>
</html>