body{
    background-image: url("background.jpg");
    background-color: grey;
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;    
    font: normal 18px Verdana;
    line-height: 1.5em;
}
.container{
    width: 85%;
    margin: auto;
}
.box-1{
    background-color: ivory;
    opacity: 65%;
    color: grey;
    width: auto;

}